{% extends 'layout-app.html' %}

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkURL = "your-messages" %}

{% set pageHeading = "NHS Vaccines" %}
{% set pageDescription = "Received today at 1:02pm" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

      <div class="nhsuk-u-margin-bottom-7 message-padding">
        <p>We are writing to invite you to book an appointment to receive your seasonal vaccination.</p>
        <p>As part of the NHS vaccination programme, you are now eligible to receive the vaccine and we encourage you to take up this opportunity to help protect yourself and others.</p>
      </div>

    </div>
  </div>

  {% endblock %}
