{% extends 'layout-locked-screen.html' %}

{% block content %}

      
    <a id="notification" class="notification" href="sms">
      <img class="notification-icon" src='/images/message_logo.png' alt="">
      <div class="notification-message">
        <div class="notification-app">NHSApp</div>
        <div class="notification-content">
          <p class="nhsuk-body-s">You have a new message.</p>
        </div>
      </div>
      <div class="status-time">now</div>
    </a>

{% endblock %}

{% block pageScripts %}
<script>
  // Function to detect the operating system
  function detectOperatingSystem() {
    const userAgent = navigator.userAgent || navigator.vendor || window.opera;

    // Check for iOS
    if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
      return "iOS";
    }
    // Check for Android
    else if (/android/i.test(userAgent)) {
      return "Android";
    }
    // If neither, return Unknown
    else {
      return "Unknown OS";
    }
  }

  // Function to update the link URLs based on OS
  function updateLinks() {
    const os = detectOperatingSystem();

    const notifyBar = document.querySelector('#notification');
    const notifyImg = document.querySelector('#notification img');
    const notifyTime = document.getElementById('time');
    const notifyWallpaper = document.querySelector('.notification-body div');

    // Modify the URLs based on the OS detected
    if (os === "iOS") {
      // Change the image source to a new one
      notifyImg.src = '/images/message_logo.png'; 

      // This clears all the classes
      notifyBar.className = ''; 
      notifyTime.className = ''; 
      notifyWallpaper.className = ''; 

      // Add the new classes
      notifyTime.classList.add('ios-time');
      notifyBar.classList.add('ios-notification');
      notifyWallpaper.classList.add('ios-wallpaper');

    } else if (os === "Android") {
      // Change the image source to a new one
      notifyImg.src = '/images/android-sms.png';

      // This clears all the classes
      notifyBar.className = ''; 
      notifyTime.className = ''; 
      notifyWallpaper.className = ''; 

      // Add the new classes
      notifyTime.classList.add('android-time');
      notifyBar.classList.add('android-notification');
      notifyWallpaper.classList.add('android-wallpaper');

    } else {
      // For unknown OS, set default classes
      notifyImg.src = '/images/message_logo.png'; 
      notifyBar.classList.add('default-notification');
      notifyWallpaper.classList.add('ios-wallpaper');
    }
  }


  // Call both functions when the page loads
  window.addEventListener('load', function() {
    updateLinks(); // Update OS-specific elements
    updateLinkBasedOnParameter(); // Update the link based on the URL parameter
  });

  // Optionally log operating system for debugging
  console.log("Operating System:", detectOperatingSystem());
</script>
{% endblock %}


