{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  What is your date of birth?
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>What is your date of birth?</h1>
      <p class="nhsuk-hint">
        For example, 15 3 1984
      </p>

      {{ dateInput({
        items: [
          {
            name: "day",
            classes: "nhsuk-input--width-2"
          },
          {
            name: "month",
            classes: "nhsuk-input--width-2"
          },
          {
            name: "year",
            classes: "nhsuk-input--width-4"
          }
        ]
      }) }}

      {{ button({
        text: "Continue",
        href: "confirmation"
      }) }}

    </div>
  </div>
{% endblock %}
