{% extends 'layout.html' %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  NHS Document Store
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>NHS Digital Letters</h1>
      <p class="nhsuk-lede-text">
        Prototypes to test new journey's for the NHS Digital Letters project.
      </p>
        <ul clas="nhsuk-list">
          <form id="osForm" method="POST">
            <li>
              <a href="javascript:void(0);" id="appNative">NHS App Native Journey</a> - A journey for users who have the NHS App installed
            </li>
            <li>
              <a href="javascript:void(0);" id="appOnline">NHS App Online Journey</a> - A journey for users who DO NOT have the NHS App
            </li>
          </form>
        </ul>

      <h2>Prototype settings</h2>
      <p>You can <a href="/settings">use settings to change the prototype journey.</a></p> 


    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script>
  // Function to detect the operating system
  function detectOperatingSystem() {
      const userAgent = navigator.userAgent || navigator.vendor || window.opera;

      // Check for iOS
      if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
          return "iOS";
      }
      // Check for Android
      else if (/android/i.test(userAgent)) {
          return "Android";
      }
      // If neither, return Unknown
      else {
          return "Unknown OS";
      }
  }


    // Function to update the link URLs based on OS
      function updateLinks() {
      const os = detectOperatingSystem();

      const appNative = document.getElementById('appNative');
      const appOnline = document.getElementById('appOnline');

      // Modify the URLs based on the OS detected
      if (os === "iOS") {
        appNative.href = "/app-native-journey/index";
        appOnline.href = "/app-online-journey/index";
      } else if (os === "Android") {
        appNative.href = "/app-native-journey/android-lockscreen";
        appOnline.href = "/app-online-journey/android-lockscreen";
      } else {
        // For unknown OS, you can set default URLs
        appNative.href = "/app-native-journey/index";
        appOnline.href = "/app-online-journey/index";
      }
    }

    // Call the updateLinks function when the page loads
    window.onload = updateLinks;



    console.log("Operating System:", detectOperatingSystem(

    ));
</script>
{% endblock %}
