{% extends 'layout-app.html' %}

{% set hub = "Messages" %}

{% set backLink = true %}
{% set backLinkURL = "/app-journey/messages/your-messages" %}

{% set pageHeading = "NHS Clinical Screening" %}
{% set pageDescription = "Received today at 1:02pm" %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- DYNAMIC PAGE TITLE -->
      {{ dynamicPageTitle({
        title: pageHeading,
        titleSmall: true,
        titleHiddenTextBefore: "Message from",
        description: pageDescription,
        descriptionMuted: true
      })}}

      <embed src="/docs/Cervix-Patient-Recall-Letter-Sample.pdf#toolbar=0&navpanes=0&scrollbar=0" width="100%" height="900px" type="application/pdf">


    </div>
  </div>

  {% endblock %}
